In [ ]:
import numpy as np
import requests
!pip install bs4
from bs4 import BeautifulSoup
import time
import pandas as pd

In [15]:
headres ={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
# add header file to avoid 403
URL = "https://www.ambitionbox.com/list-of-companies?page=1"
response = requests.get(URL, headers = headres).text
soup = BeautifulSoup(response, 'lxml')

# 30 companies per page, loop print anme of all of then
# for i in range(30):
#   print(soup.find_all("h2","company-name")[i].text.strip())

companies= soup.find_all("div",class_ = 'company-content-wrapper')
 
name = []
rating = []
review_count = []
company_type = []
company_old= []
company_loc = []
company_esiz = []
for i in companies:
  name.append(i.find('h2', class_ = "company-name" ).text.strip())
  rating.append(i.find("p", class_ = "rating").text.strip())
  review_count.append(i.find("a", class_ = "review-count").text.strip())
  try:
    company_type.append(i.find_all("p", class_ = "infoEntity")[0].text.strip())
  except:
    company_type.append(np.nan)
  try:
    company_loc.append(i.find_all("p", class_ = "infoEntity")[1].text.strip())
  except:
    company_loc.append(np.nan)
  try:
    company_old.append(i.find_all("p", class_ = "infoEntity")[2].text.strip())
  except:
    company_old.append(np.nan)
  try:
    company_esiz.append(i.find_all("p", class_ = "infoEntity")[2].text.strip())
  except:
    company_esiz.append(np.nan)

In [16]:
print(name)
print(rating)
print(review_count)

['TCS', 'Accenture', 'Cognizant', 'ICICI Bank', 'HDFC Bank', 'Wipro', 'Infosys', 'Capgemini', 'Tech Mahindra', 'Genpact', 'HCLTech', 'Amazon', 'Axis Bank', 'IBM', 'Concentrix Corpo...', 'Reliance jio', 'Larsen & Toubro ...', 'HDB Financial Se...', 'Vodafone Idea', 'Teleperformance', 'Kotak Mahindra B...', 'Reliance Retail', 'Deloitte', 'Reliance Industr...', 'Bharti Airtel', 'Tata Motors', "BYJU'S", 'Flipkart', 'WNS', 'Mahindra & Mahin...']
['3.9', '4.1', '4.0', '4.0', '4.0', '3.9', '3.9', '3.9', '3.7', '4.0', '3.8', '4.3', '3.9', '4.2', '4.0', '4.0', '4.1', '4.0', '4.2', '3.6', '3.9', '4.1', '4.1', '4.1', '4.1', '4.1', '3.5', '4.2', '3.7', '3.9']
['(50k Reviews)', '(32.1k Reviews)', '(29.5k Reviews)', '(33.4k Reviews)', '(39k Reviews)', '(28.6k Reviews)', '(28.1k Reviews)', '(23.8k Reviews)', '(21.4k Reviews)', '(19.2k Reviews)', '(18.3k Reviews)', '(18.3k Reviews)', '(18.4k Reviews)', '(15.2k Reviews)', '(14.9k Reviews)', '(14.5k Reviews)', '(24k Reviews)', '(13.3k Reviews)', '(13.1k Reviews)', '(14.3k Reviews)', '(13.3k Reviews)', '(16.2k Reviews)', '(10.2k Reviews)', '(43.5k Reviews)', '(12.3k Reviews)', '(11.8k Reviews)', '(12.7k Reviews)', '(11.4k Reviews)', '(6.9k Reviews)', '(38.7k Reviews)']

In [17]:
d={"name":name,
   "rating":rating,
   "review_count":review_count,
   "type":company_type,
   "how_old":company_old,
   "hq":company_loc,
   "employees":company_esiz
   }
df = pd.DataFrame(d)
df

,name,rating,review_count,type,how_old,hq,employees
0,TCS,3.9,(50k Reviews),Public,55 years old,"Mumbai,Maharashtra + 268 more",55 years old
1,Accenture,4.1,(32.1k Reviews),Public,34 years old,Dublin + 131 more,34 years old
2,Cognizant,4.0,(29.5k Reviews),Private,29 years old,Teaneck. New Jersey. + 101 more,29 years old
3,ICICI Bank,4.0,(33.4k Reviews),Public,29 years old,"Mumbai,Maharashtra + 1055 more",29 years old
4,HDFC Bank,4.0,(39k Reviews),Public,29 years old,"Mumbai,Maharashtra + 1235 more",29 years old
5,Wipro,3.9,(28.6k Reviews),Public,78 years old,"Bangalore/Bengaluru,Karnataka + 223 more",78 years old
6,Infosys,3.9,(28.1k Reviews),Public,42 years old,"Bengaluru/Bangalore,Karnataka + 124 more",42 years old
7,Capgemini,3.9,(23.8k Reviews),Public,56 years old,Paris + 79 more,56 years old
8,Tech Mahindra,3.7,(21.4k Reviews),Public,37 years old,"Pune,Maharashtra + 210 more",37 years old
9,Genpact,4.0,(19.2k Reviews),Public,26 years old,"New York,New York + 67 more",26 years old
10,HCLTech,3.8,(18.3k Reviews),Public,32 years old,Noida + 141 more,32 years old
11,Amazon,4.3,(18.3k Reviews),Public,29 years old,"Seattle,Washington + 374 more",29 years old
12,Axis Bank,3.9,(18.4k Reviews),Public,30 years old,"Mumbai,Maharashtra + 1091 more",30 years old
13,IBM,4.2,(15.2k Reviews),Public,112 years old,"Armonk,New York + 118 more",112 years old
14,Concentrix Corpo...,4.0,(14.9k Reviews),Public,40 years old,"Fremont,California + 70 more",40 years old
15,Reliance jio,4.0,(14.5k Reviews),Public,16 years old,"Navi Mumbai,Maharashtra + 984 more",16 years old
16,Larsen & Toubro ...,4.1,(24k Reviews),Public,77 years old,"Mumbai,Maharashtra + 522 more",77 years old
17,HDB Financial Se...,4.0,(13.3k Reviews),Private,16 years old,"Ahmedabad,Gujrat + 789 more",16 years old
18,Vodafone Idea,4.2,(13.1k Reviews),Public,5 years old,"Gandhinagar,Gujrat + 563 more",5 years old
19,Teleperformance,3.6,(14.3k Reviews),Private,45 years old,Paris + 122 more,45 years old
20,Kotak Mahindra B...,3.9,(13.3k Reviews),Public,20 years old,"Mumbai,Maharashtra + 471 more",20 years old
21,Reliance Retail,4.1,(16.2k Reviews),Private,17 years old,"Navi Mumbai,Maharashtra + 688 more",17 years old
22,Deloitte,4.1,(10.2k Reviews),Private,178 years old,"New York,New York + 129 more",178 years old
23,Reliance Industr...,4.1,(43.5k Reviews),Public,50 years old,"Navi Mumbai,Maharashtra + 498 more",50 years old
24,Bharti Airtel,4.1,(12.3k Reviews),Public,28 years old,"Gurgaon/Gurugram,Haryana + 518 more",28 years old
25,Tata Motors,4.1,(11.8k Reviews),Public,78 years old,"Pune,Maharashtra + 383 more",78 years old
26,BYJU'S,3.5,(12.7k Reviews),Private,12 years old,"Bangalore,Karnataka + 251 more",12 years old
27,Flipkart,4.2,(11.4k Reviews),Public,16 years old,"Bangalore,Karnataka + 443 more",16 years old
28,WNS,3.7,(6.9k Reviews),Private,27 years old,"Mumbai,Maharashtra + 24 more",27 years old
29,Mahindra & Mahin...,3.9,(38.7k Reviews),Public,78 years old,"Mumbai,Maharashtra + 416 more",78 years old

In [18]:
name = []
rating = []
review_count = []
company_type = []
company_old= []
company_loc = []
company_esiz = []

def scrape_custom_page(page_no):
  headres ={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}

  URL = "https://www.ambitionbox.com/list-of-companies?page="+str(page_no)
  response = requests.get(URL, headers = headres)
  print(response)
  soup = BeautifulSoup(response.text, 'lxml')

  # 30 companies per page, loop print anme of all of then
  # for i in range(30):
  #   print(soup.find_all("h2","company-name")[i].text.strip())

  companies= soup.find_all("div",class_ = 'company-content-wrapper')
  
  for i in companies:
    name.append(i.find('h2', class_ = "company-name" ).text.strip())
    rating.append(i.find("p", class_ = "rating").text.strip())
    review_count.append(i.find("a", class_ = "review-count").text.strip())
    try:
      company_type.append(i.find_all("p", class_ = "infoEntity")[0].text.strip())
    except:
      company_type.append(np.nan)
    try:
      company_loc.append(i.find_all("p", class_ = "infoEntity")[1].text.strip())
    except:
      company_loc.append(np.nan)
    try:
      company_old.append(i.find_all("p", class_ = "infoEntity")[2].text.strip())
    except:
      company_old.append(np.nan)
    try:
      company_esiz.append(i.find_all("p", class_ = "infoEntity")[2].text.strip())
    except:
      company_esiz.append(np.nan)
for i in range(1,334):
  print(i+1)
  scrape_custom_page(i)
d={"name":name,
   "rating":rating,
   "review_count":review_count,
   "type":company_type,
   "how_old":company_old,
   "hq":company_loc,
   "employees":company_esiz
   }
df = pd.DataFrame(d)
df

2
<Response [200]>
3
<Response [200]>
4
<Response [200]>
5
<Response [200]>
6
<Response [200]>
7
<Response [200]>
8
<Response [200]>
9
<Response [200]>
10
<Response [200]>
11
<Response [200]>
12
<Response [200]>
13
<Response [200]>
14
<Response [200]>
15
<Response [200]>
16
<Response [200]>
17
<Response [200]>
18
<Response [200]>
19
<Response [200]>
20
<Response [200]>
21
<Response [200]>
22
<Response [200]>
23
<Response [200]>
24
<Response [200]>
25
<Response [200]>
26
<Response [200]>
27
<Response [200]>
28
<Response [200]>
29
<Response [200]>
30
<Response [200]>
31
<Response [200]>
32
<Response [200]>
33
<Response [200]>
34
<Response [200]>
35
<Response [200]>
36
<Response [200]>
37
<Response [200]>
38
<Response [200]>
39
<Response [200]>
40
<Response [200]>
41
<Response [200]>
42
<Response [200]>
43
<Response [200]>
44
<Response [200]>
45
<Response [200]>
46
<Response [200]>
47
<Response [200]>
48
<Response [200]>
49
<Response [200]>
50
<Response [200]>
51
<Response [200]>
52
<Response [200]>
53
<Response [200]>
54
<Response [200]>
55
<Response [200]>
56
<Response [200]>
57
<Response [200]>
58
<Response [200]>
59
<Response [200]>
60
<Response [200]>
61
<Response [200]>
62
<Response [200]>
63
<Response [200]>
64
<Response [200]>
65
<Response [200]>
66
<Response [200]>
67
<Response [200]>
68
<Response [200]>
69
<Response [200]>
70
<Response [200]>
71
<Response [200]>
72
<Response [200]>
73
<Response [200]>
74
<Response [200]>
75
<Response [200]>
76
<Response [200]>
77
<Response [200]>
78
<Response [200]>
79
<Response [200]>
80
<Response [200]>
81
<Response [200]>
82
<Response [200]>
83
<Response [200]>
84
<Response [200]>
85
<Response [200]>
86
<Response [200]>
87
<Response [200]>
88
<Response [200]>
89
<Response [200]>
90
<Response [200]>
91
<Response [200]>
92
<Response [200]>
93
<Response [200]>
94
<Response [200]>
95
<Response [200]>
96
<Response [200]>
97
<Response [200]>
98
<Response [200]>
99
<Response [200]>
100
<Response [200]>
101
<Response [200]>
102
<Response [200]>
103
<Response [200]>
104
<Response [200]>
105
<Response [200]>
106
<Response [200]>
107
<Response [200]>
108
<Response [200]>
109
<Response [200]>
110
<Response [200]>
111
<Response [200]>
112
<Response [200]>
113
<Response [200]>
114
<Response [200]>
115
<Response [200]>
116
<Response [200]>
117
<Response [200]>
118
<Response [200]>
119
<Response [200]>
120
<Response [200]>
121
<Response [200]>
122
<Response [200]>
123
<Response [200]>
124
<Response [200]>
125
<Response [200]>
126
<Response [200]>
127
<Response [200]>
128
<Response [200]>
129
<Response [200]>
130
<Response [200]>
131
<Response [200]>
132
<Response [200]>
133
<Response [200]>
134
<Response [200]>
135
<Response [200]>
136
<Response [200]>
137
<Response [200]>
138
<Response [200]>
139
<Response [200]>
140
<Response [200]>
141
<Response [200]>
142
<Response [200]>
143
<Response [200]>
144
<Response [200]>
145
<Response [200]>
146
<Response [200]>
147
<Response [200]>
148
<Response [200]>
149
<Response [200]>
150
<Response [200]>
151
<Response [200]>
152
<Response [200]>
153
<Response [200]>
154
<Response [200]>
155
<Response [200]>
156
<Response [200]>
157
<Response [200]>
158
<Response [200]>
159
<Response [200]>
160
<Response [200]>
161
<Response [200]>
162
<Response [200]>
163
<Response [200]>
164
<Response [200]>
165
<Response [200]>
166
<Response [200]>
167
<Response [200]>
168
<Response [200]>
169
<Response [200]>
170
<Response [200]>
171
<Response [200]>
172
<Response [200]>
173
<Response [200]>
174
<Response [200]>
175
<Response [200]>
176
<Response [200]>
177
<Response [200]>
178
<Response [200]>
179
<Response [200]>
180
<Response [200]>
181
<Response [200]>
182
<Response [200]>
183
<Response [200]>
184
<Response [200]>
185
<Response [200]>
186
<Response [200]>
187
<Response [200]>
188
<Response [200]>
189
<Response [200]>
190
<Response [200]>
191
<Response [200]>
192
<Response [200]>
193
<Response [200]>
194
<Response [200]>
195
<Response [200]>
196
<Response [200]>
197
<Response [200]>
198
<Response [200]>
199
<Response [200]>
200
<Response [200]>
201
<Response [200]>
202
<Response [200]>
203
<Response [200]>
204
<Response [200]>
205
<Response [200]>
206
<Response [200]>
207
<Response [200]>
208
<Response [200]>
209
<Response [200]>
210
<Response [200]>
211
<Response [200]>
212
<Response [200]>
213
<Response [200]>
214
<Response [200]>
215
<Response [200]>
216
<Response [200]>
217
<Response [200]>
218
<Response [200]>
219
<Response [200]>
220
<Response [200]>
221
<Response [200]>
222
<Response [200]>
223
<Response [200]>
224
<Response [200]>
225
<Response [200]>
226
<Response [200]>
227
<Response [200]>
228
<Response [200]>
229
<Response [200]>
230
<Response [200]>
231
<Response [200]>
232
<Response [200]>
233
<Response [200]>
234
<Response [200]>
235
<Response [200]>
236
<Response [200]>
237
<Response [200]>
238
<Response [200]>
239
<Response [200]>
240
<Response [200]>
241
<Response [200]>
242
<Response [200]>
243
<Response [200]>
244
<Response [200]>
245
<Response [200]>
246
<Response [200]>
247
<Response [200]>
248
<Response [200]>
249
<Response [200]>
250
<Response [200]>
251
<Response [200]>
252
<Response [200]>
253
<Response [200]>
254
<Response [200]>
255
<Response [200]>
256
<Response [200]>
257
<Response [200]>
258
<Response [200]>
259
<Response [200]>
260
<Response [200]>
261
<Response [200]>
262
<Response [200]>
263
<Response [200]>
264
<Response [200]>
265
<Response [200]>
266
<Response [200]>
267
<Response [200]>
268
<Response [200]>
269
<Response [200]>
270
<Response [200]>
271
<Response [200]>
272
<Response [200]>
273
<Response [200]>
274
<Response [200]>
275
<Response [200]>
276
<Response [200]>
277
<Response [200]>
278
<Response [200]>
279
<Response [200]>
280
<Response [200]>
281
<Response [200]>
282
<Response [200]>
283
<Response [200]>
284
<Response [200]>
285
<Response [200]>
286
<Response [200]>
287
<Response [200]>
288
<Response [200]>
289
<Response [200]>
290
<Response [200]>
291
<Response [200]>
292
<Response [200]>
293
<Response [200]>
294
<Response [200]>
295
<Response [200]>
296
<Response [200]>
297
<Response [200]>
298
<Response [200]>
299
<Response [200]>
300
<Response [200]>
301
<Response [200]>
302
<Response [200]>
303
<Response [200]>
304
<Response [200]>
305
<Response [200]>
306
<Response [200]>
307
<Response [200]>
308
<Response [200]>
309
<Response [200]>
310
<Response [200]>
311
<Response [200]>
312
<Response [200]>
313
<Response [200]>
314
<Response [200]>
315
<Response [200]>
316
<Response [200]>
317
<Response [200]>
318
<Response [200]>
319
<Response [200]>
320
<Response [200]>
321
<Response [200]>
322
<Response [200]>
323
<Response [200]>
324
<Response [200]>
325
<Response [200]>
326
<Response [200]>
327
<Response [200]>
328
<Response [200]>
329
<Response [200]>
330
<Response [200]>
331
<Response [200]>
332
<Response [200]>
333
<Response [200]>
334
<Response [200]>

,name,rating,review_count,type,how_old,hq,employees
0,TCS,3.9,(50k Reviews),Public,55 years old,"Mumbai,Maharashtra + 268 more",55 years old
1,Accenture,4.1,(32.1k Reviews),Public,34 years old,Dublin + 131 more,34 years old
2,Cognizant,4.0,(29.5k Reviews),Private,29 years old,Teaneck. New Jersey. + 101 more,29 years old
3,ICICI Bank,4.0,(33.4k Reviews),Public,29 years old,"Mumbai,Maharashtra + 1055 more",29 years old
4,HDFC Bank,4.0,(39k Reviews),Public,29 years old,"Mumbai,Maharashtra + 1235 more",29 years old
...,...,...,...,...,...,...,...
9983,iQuanti,4.1,(50 Reviews),Private,15 years old,Jersey City + 3 more,15 years old
9984,CashLink Global ...,4.5,(50 Reviews),Private,19 years old,"Chennai,Tamil Nadu + 11 more",19 years old
9985,HUCON Solutions,3.8,(50 Reviews),Private,15 years old,Secunderabad + 1 more,15 years old
9986,Nature S Essence,4.2,(50 Reviews),Private,25 years old,"Gurgaon/Gurugram,Haryana + 16 more",25 years old
9987,Renu Electronics,3.7,(50 Reviews),Private,32 years old,Pune,32 years old